<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Messages : </div><br/>
<div id="messagesContainer">

</div>
<script>
// Note that the path doesn't matter for routing; any WebSocket
// connection gets bumped over to WebSocket consumers
socket = new WebSocket("ws://" + window.location.host + "/message-updates/{{user_id}}/");
socket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var messageNode = document.createElement('div');
    messageNode.innerHTML = "Message : " + data.message + "</br>" + "From : "+ data.from_user + "<br/><br/>";
    document.getElementById("messagesContainer").appendChild(messageNode);
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>
</body>
</html>